:root {
    --primary-color: #f8f8f8;
    --secondary-color: white;
  }
  
html, body{
    /* height: 100%; */
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    color: #424242;
}
.wrapper{
    background-color: var(--primary-color);
    height: 100%;
    padding-top: 30px;
}
p{
    /* margin: 0px; */
}
header{
    /* background-color: red; */
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}


.header-button{
    border: none;
    border-bottom: 1px solid black;
    background-color: var(--primary-color);
    margin-right: 20px;
    font-family: "Montserrat", sans-serif;
    color: #424242;
    font-size: 16px;
}
input.find{
    height: 38px;
    width: 160px;
    background-color: #fff;
    padding: 0 40px 0 10px;
    border: 1px solid #ccc;
    opacity: 0.8;
    box-sizing: border-box;
    border-radius: 5px;
    color: #000;
}

.about{
    width: 1000px;
    box-sizing: border-box;
    margin: 100px auto 0px auto;
    padding: 40px;
    background-color: white;
}
.about-container{
    display: flex;
    gap: 20px;
    
    
}
.oPoste{
    padding: 30px;
    padding-right: 20px;
    padding-top: 10px;
    width: 450px;
    box-sizing: border-box;
}
h1.title{
    font-family: "Montserrat", sans-serif;
    color: #424242;
    font-weight: 500;
    line-height: 1.4;
    font-size: 40px;
    margin: 0px;
    margin-top: -10px;
}
p.description{
    font-family: "Montserrat", sans-serif;
    line-height: 1.4;
    color: #424242;
}

.parents{
    height: 564px;
    background-color: var(--secondary-color);
}
.parents-container{
    width: 96%;
    margin: 40px auto;
}
.parents-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 130px);
    gap: 30px;
}
.parents-title{
    grid-column: 1 / -1;
    text-align: center;
}
.parents-grid__item{
    display: flex;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.imgInstg{
    height: 90px;

}
.parents__item__description{

}
.parent__item--h2 {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
}
.parent__item--p{

}

.communication{
    height: 282px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.communication-container{
    width: 940px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
h2.communication-container{

}
.communication-container button{
    height: 50px;
    width: 450px;
    background-color: rgb(237, 122, 0);
    color: var(--secondary-color);
    border-radius: 2em;
    font-size: 18px;
    border-color: transparent;
}

.learn{
    background-image: url("./assets/karp.jpg");
    background-repeat: no-repeat;
    background-size: contain;



    height: 400px;
}